body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: darkgray;
    color: #fff;
    padding: 10px 0; /* Reducir el espacio interno superior e inferior */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info,
.social-links {
    flex-basis: 45%;
}

.contact-info p,
.social-links a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 2px; /* Reducir el espacio inferior entre los elementos */
}

.social-links {
    display: flex;
    flex-direction: column; 
}

.icon-container {
    display: flex;
    flex-direction: row;
}

.social-links a {
    margin-right: 5px; /* Reducir el espacio derecho entre los íconos */
}

.social-links a i {
    font-size: 1.5em; /* Reducir el tamaño de los íconos */
}

.separator {
    color: #fff;
    margin: 0 3px; /* Reducir el espacio entre los separadores */
}

.copyright,
.empresa2 {
    text-align: center;
    margin-top: 10px; /* Reducir el espacio superior */
}

.empresa2 img {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Reducir la sombra */
}

h2 {
    color: white;
    font-weight: bold;
}

h1 {
    color: #fff;
}
