body{
    margin: 0;
}

.Container-Cabecera{   
    color: white;
    padding: 0 50px;
    line-height: 1.4em;
    font-size:larger; 
}

.Cabecera-Header{
    color: white;
    background-color: #005B41;
}

.Cabecera-Header a{
    color: white;
    text-decoration: none;
}

.Nav-Container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.Cabecera-Nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.Cabecera-Contenido ul li{
    margin-right: 50px;
}

.Cabecera-Sesion ul li{
    margin-right: 20px;
}


.Cabecera-Nav ul li a{
    display: block;
    padding: 0.5rem;
    transition: all 0.5s linear;
    border-radius: 5px;
}

.Cabecera-Nav ul li a:hover{
   background-color: #008170;
}

.Cabecera-Header img{
    margin: 0;
    height: 100%;
    width: auto;
    display: block;
}
