.producto-row {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
}

.precio-col {
    text-align: center;
}

.precio-final {
    color: #e44d26; 
    font-weight: bold;
}

.subtotal-col, .cantidad-col {
    text-align: center;
}

.total {
    font-size: 20px;
    font-weight: bold;
    color: #e44d26;
}
.subtotal {
    font-size: 1.2em; 
    font-weight: bold; 
    color: #439B9B; 
}
.descripcionFor {
    text-align: justify;
}
.recuadro {
    background-color: white;
    border: 1px solid #ccc; 
    padding: 20px;
    margin: 20px 0; 
}
.producto-row {
    margin-bottom: 20px;
}

#quantity-selector {
    display: flex;
    align-items: center;
}

#selectorAc {
    width: 40px; 
    text-align: center;
    margin: 0 10px;
}

.update-button {
    background-color: #28a745; 
    color: #fff; 
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.update-button:hover {
    background-color: #218838; 
}
