.info-div {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.info-div h4 {
    color: #007bff;
}

.info-div p {
    margin-bottom: 10px;
    text-align: justify;
}

.info-div ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.info-div ul li {
    padding-left: 20px;
    position: relative;
    text-align: justify;
}

.info-div ul li:before {
    content: '\2022';
    position: absolute;
    left: 0;
    color: #007bff;
}